<section class="container-contact">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 mb-4">
				<img src="/assets/images/nhow-rotterdam-rooms.jpg" title="" alt="" class="img-fluid" />
			</div>
			<div class="col-12 col-md-6">
				<address>
					<h3>nhow ROTTERDAM</h3>
					Wilhelminakade 137<br />
					3072 AP Rotterdam<br />
					<app-icons icon="tel"></app-icons> +31 (0)10 206 7600<br />
					<a href="https://www.nhow-hotels.com/nl/nhow-rotterdam" target="_blank" class="link-light">
						Website <app-icons icon="link"></app-icons>
					</a>
				</address>

				<a class="btn btn-danger btn-rawgenius-purple raw-icon-forward raw-sweep-to-right rounded-none btn-xl"
					href="https://maps.app.goo.gl/na3ive7xjRhWbiK67" role="button" target="_blank">
					<app-icons icon="map"></app-icons>&nbsp;&nbsp;Routebeschrijving&nbsp;&nbsp;
					<i class="fa fa-arrow-right"></i>
				</a>

			</div>
		</div>
	</div>
</section>
