<section class="container-contact">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 mb-4">
				<img src="/assets/images/vandervalk.png" title="" alt="" class="img-fluid" />
			</div>
			<div class="col-12 col-md-6">
				<address>
					<h3>Hotel Apeldoorn - de Cantharel</h3>
					Van Golsteinlaan 20<br />
					7339 GT Apeldoorn<br />
					<app-icons icon="tel"></app-icons> +31 555414455 <br />
					<a href="https://www.vandervalkapeldoorn.nl/" target="_blank" class="link-light">
						Website <app-icons icon="link"></app-icons>
					</a>
				</address>

				<a class="btn btn-danger btn-rawgenius-purple raw-icon-forward raw-sweep-to-right rounded-none btn-xl"
					href="https://www.google.com/maps?daddr=Van+Golsteinlaan+20,7339+GT+Apeldoorn" role="button"
					target="_blank">
					<app-icons icon="map"></app-icons>&nbsp;&nbsp;Routebeschrijving&nbsp;&nbsp;
					<i class="fa fa-arrow-right"></i>
				</a>

			</div>
		</div>
	</div>
</section>
