<section class="container-schedule">
	<div class="container-fluid">

		<div class="row d-flex align-items-center">
			<div class="col-6 d-none d-lg-block">
				<app-rawgenius-animation-svg></app-rawgenius-animation-svg>
				<app-time></app-time>
				<!-- {{this.currentTime}} -->
			</div>
			<div class="col-12 col-lg-6">
				<div class="wrapper-schedule-time">
					<app-schedule-table [url]="this.url" id="app-schedule-table"></app-schedule-table>
				</div>
			</div>
		</div>
	</div>
</section>
