<section class="container-contact">
	<div class="container">
		<div class="row flex-row-reverse">
			<div class="col-12 col-md-6 mb-4">
				<img src="/assets/images/image.png" title="" alt="" class="img-fluid" />
			</div>
			<div class="col-12 col-md-6">
				<address>
					<h3>Hollywood Event Center</h3>
					Cor Kieboomplein 515 <br />
					3077 MK Rotterdam<br />
					<app-icons icon="tel"></app-icons> 010 203 72 81<br />
					<a href="https://hollywoodeventcenter.nl" target="_blank" class="link-light">
						Website <app-icons icon="link"></app-icons>
					</a>
				</address>

				<a class="btn btn-danger btn-rawgenius-purple raw-icon-forward raw-sweep-to-right rounded-none btn-xl"
					href="https://maps.app.goo.gl/vqVFFqDiyNRDWQbJ9" role="button" target="_blank">
					<app-icons icon="map"></app-icons>&nbsp;&nbsp;Routebeschrijving&nbsp;&nbsp;
					<i class="fa fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
</section>
